{% extends base %}

{% block postamble %}
  <style>
    {% include "material.indigo-blue.min.css" %}
    {% include "style.css" %}
  </style>
{% endblock %}

{% block contents %}
<div class="content" >
<div class="content-float" >

<div class="two-column-grid">
  <div class="grid-item">
    <p>
      Click on the figure for an <b>interactive plot</b>.
    </p>
    <figure>
      <div class="container">
        <a href="figure">
          <img class="figure-thumbnail default-figure mdl-card mdl-shadow--2dp main-card" src="select_pyrenemofs/static/images/fig_default.png">
          <div class="hover-text">Scatter plot</div>
        </a>
      </div>
      <figcaption>
      Browse MOF's properties
      </figcaption>
    </figure>
  </div>

  <div class="grid-item">
{{ super() }}
  </div>
</div>

</div>
</div>

{% endblock %}
