/* Style for select-figure content */

/* needed only when served via bokeh 
.bk-layout-fixed {
    margin: 0 auto;
    text-align: center;
}

transparency:
-webkit-mask-image: -webkit-gradient(linear, left top, 
    left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
*/

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

div.grid-item {
  max-height:350px;
  overflow:scroll;
}


div.content {
    margin: 0 auto;
    /* display: inline-block; */
    display: block;
    width: 1200px;
    text-align: center;
}

div.content-float {
    position: relative;
    display: inline-block;
}

div.one-column-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* to offset the next grid */
  margin-block-end: 30px;
}

div.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
}

div.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}

figure {
    text-align: center;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0; /* needed for safari */
}

figure figcaption {
    padding: 5px;
    text-align: center;
}

img.figure-thumbnail {
   max-height: 175px;
   width: auto;
   height: auto;
   /* Note: the saved scatter plots tend to have less white space
      at the top, since there is no legend there */
   padding: 10px 2px 2px 2px;
   /* border:2px solid #14afff; */
   /* background-color:#fff; */
   /* background-color: rgba(245,245,245,.19);*/
   border-radius: 4px;
}

img.default-figure {
   max-height: 250px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    display: inline-block;
}

.container:hover img {
   opacity: 0.3;
   filter: alpha(opacity=30);
}

/* Text to appear upon hover */
.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #14afff; */
    /* color: black; */
    color: #1565C0;
    font-size: 1.3em;
    font-weight: bold;
    z-index: 1;
    opacity: 0;
}

.container:hover .hover-text {
   opacity: 1.0;
}

/* provenance links */
img.provenance-logo {
    width: 20px;
    height: auto;
}