{
    "CONFIG_VERSION": {
        "CURRENT": 3, 
        "OLDEST_COMPATIBLE": 3
    }, 
    "default_profile": "{{ aiida_profile }}",
    "profiles": {
        "{{ aiida_profile }}": {
            "AIIDADB_ENGINE": "postgresql_psycopg2",
            "AIIDADB_PASS": "{{ aiida_db_pass }}",
            "AIIDADB_NAME": "{{ aiida_db_name }}",
            "AIIDADB_HOST": "{{ aiida_db_host }}",
            "AIIDADB_BACKEND": "django",
            "AIIDADB_PORT": "{{ aiida_db_port }}",
            "default_user_email": "leopold.talirz@epfl.ch",
            "AIIDADB_REPOSITORY_URI": "file:///app/.aiida/repository/{{ aiida_profile }}",
            "AIIDADB_USER": "mcloud",
            "options": {}
        }
    }
}
